<div class="appContainer">
    <div class="headerBar">
        <img src="../../assets/images/logo.png" alt="" style="height: 30px; margin: 5px 0 0 70px;position: absolute;
        z-index: 9;">
        <ul class="iconMenu">
            <li>
                <a href="javascript:void(0)" title="User Profile"><i class="fas fa-user"></i></a>
                <a href="javascript:void(0)" title="Notifications"><i class="fas fa-bell"></i></a>
                <a href="javascript:void(0)" routerLink="/login" title="Logout"><i class="fas fa-sign-out-alt"></i></a>
            </li>
        </ul>
    </div>
    <div class="leftPanel">
        <a href="javascript:void(0)" (click)="toggleLeftbar()" class="tglBtn">
            <i class="fas fa-bars"></i>
            <img src="../../assets/images/logo-white.png" alt="" />
        </a>
        <ul>
            <li>
                <a href="javascript:void(0)" (click)="toggleLeftbar()">
                    <i class="fas fa-home"></i>Home
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" (click)="toggleLeftbar()">
                    <i class="fas fa-user"></i>Profile
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" (click)="toggleLeftbar()">
                    <i class="fas fa-qrcode"></i>Services
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" (click)="toggleLeftbar()">
                    <i class="fas fa-sitemap"></i>Products
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" (click)="toggleLeftbar()">
                    <i class="fas fa-baby-carriage"></i>Icons
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" (click)="toggleLeftbar()">
                    <i class="fas fa-map-marker-alt"></i>Maps
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" (click)="toggleLeftbar()">
                    <i class="fas fa-bell"></i>Notifications
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" (click)="toggleLeftbar()">
                    <i class="fas fa-flag-checkered"></i>Sample Page 1
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" (click)="toggleLeftbar()">
                    <i class="far fa-dot-circle"></i>Sample Page 2
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" (click)="toggleLeftbar()">
                    <i class="fas fa-comment-dots"></i>Sample Page 3
                </a>
            </li>
        </ul>
    </div>
    <div class="rightPanel">
        <div class="row">
            <div class="col-md-3">
                <div class="report">
                    <div class="tile orange">
                        <i class="far fa-copy"></i>
                    </div>
                    <div class="info">
                        Incoming Cases
                        <br>
                        <span>1234</span>
                    </div>
                    <div class="clear"></div>
                    <hr>
                    <a href="javascript:void(0)" class="regLink">
                        <i class="fas fa-qrcode"></i>Get Complete Info
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="report">
                    <div class="tile green">
                        <i class="far fa-clock"></i>
                    </div>
                    <div class="info">
                        Discharged Cases
                        <br>
                        <span>33456</span>
                    </div>
                    <div class="clear"></div>
                    <hr>
                    <a href="javascript:void(0)" class="regLink">
                        <i class="fas fa-qrcode"></i>Get Complete Info
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="report">
                    <div class="tile pink">
                        <i class="fas fa-sitemap"></i>
                    </div>
                    <div class="info">
                        Active Cases
                        <br>
                        <span>12765</span>
                    </div>
                    <div class="clear"></div>
                    <hr>
                    <a href="javascript:void(0)" class="regLink">
                        <i class="fas fa-qrcode"></i>Get Complete Info
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="report">
                    <div class="tile blue">
                        <i class="fas fa-map-marker-alt"></i>
                    </div>
                    <div class="info">
                        Deseased Cases
                        <br>
                        <span>450</span>
                    </div>
                    <div class="clear"></div>
                    <hr>
                    <a href="javascript:void(0)" class="regLink">
                        <i class="fas fa-qrcode"></i>Services
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="contentBox">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="../../assets/images/health2.png" class="img-fluid" alt="">
                        </div>
                        <div class="col-md-8">
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                                text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
                                to make a type specimen book.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="contentBox">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="../../assets/images/vitamin-food.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="col-md-8">
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                                text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
                                to make a type specimen book.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="contentBox">
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                        text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
                        a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
                        took a galley of type and scrambled it to make a type specimen book.

                    </p>
                </div>
            </div>
        </div>
    </div>
</div>